.why-yoga{
    background-color: #FFC773;
    //position: relative;
    //overflow-x: hidden;
    overflow-y: hidden;
    background-image: url("../img/home/home_courses/courses_bckg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(210,220,250,.75);
    padding-bottom: 45px;
    z-index: 3;
    }
    
    
    .why-yoga__title{
        margin-top: 40px;
    }
    
    .why-yoga__paragraph{
        margin-top: 20px;
        &::selection{
            background-color: rgb(166, 172, 173);
        }
    }