.about-photo{
    background-image: linear-gradient(#fff 60%,rgba(210,220,250,.75));
}
.about-photo__wrapper{
    padding-top: 67px;
}

.about-photo__title{
    margin-bottom: 10px;
}
.about__photo-slider-btns{
    background-color: #ffcb73;
    width: 255px;
    border-radius: 25px;
}