.why-yoga{
    //background-color: #FFC773;
    //position: relative;
    //overflow-x: hidden;
    overflow: hidden;
    background-image:  url("../img/home/home_courses/courses_bckg.svg"),linear-gradient(rgba(210,220,250,.75) 60%, #fff);
    background-repeat: repeat-x;
    background-size: contain;
    background-color: rgba(210,220,250,.75);
    padding-bottom: 95px;
    z-index: 3;

    }
    
    .why-yoga-wrapper{
        margin-top: 95px;
    }
    .why-yoga__title{
      max-width: 350px;
      grid-column-start: 2;
      grid-row-start: 1;
      margin-bottom: 40px;
      font-size: 35px;
    }
    
    .why-yoga__text-part{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 2fr;
       grid-column-gap: 50px;
       //grid-row-gap: 50px;
       max-width: 1145px;
       margin: 0 auto;
    }
    .why-yoga__paragraph{
       // margin-top: 20px;
        max-width: 520px;
        color: #000;
        font-size: 15px;
        font-family: "Open Sans",sans-serif;
        font-weight: 300;
        line-height: 20.43px;
        &::selection{
            background-color: rgb(166, 172, 173);
        }


    }
    .why-yoga__paragraph--sec-col-sec-row{
        grid-column-start: 2;
        grid-row-start: 2;
        display: grid;
    }

    .why-yoga__paragraph--italic{
        font-style: italic;
    }

    .why-yoga__download-presentation{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
       
        & a {
            color: #515192;
            text-transform: uppercase;
            font-size: 15px;
            font-family: "Open Sans",sans-serif;
            font-weight: bold;
        }
    }
   

    @media (min-width:0px) and (max-width:576px){
        .why-yoga{
            padding-bottom: 30px;
            background-size: cover;
        }

        .why-yoga-wrapper{
            margin-top: 30px;
        }
        .why-yoga__text-part{
            display: flex;
            flex-direction: column;
        }
    }

    @media (min-width:577px) and (max-width:992px){
        .why-yoga{
            padding-bottom: 30px;
        }
        .why-yoga-wrapper{
            margin-top: 30px;
        }
    }