.about-photo{
    background-image: linear-gradient(#fff 60%,rgba(210,220,250,.75));
}
.about-photo__wrapper{
    padding-top: 66px;
    padding-bottom: 76px;
}

.about-photo__title{
    margin-bottom: 10px;
}
.about__photo-slider-btns{
    background-color: #ffcb73;
    width: 255px;
    border-radius: 25px;
}

.about-photo__gallery{
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
   flex-wrap: wrap;
    margin-top: 20px;
}

@media (min-width:0px) and (max-width:1019px){
    .about-photo{
        background-color: #fff;
        background-image: none;
    }

    .about-photo__wrapper{
       padding-top: 17px;
    
    }
}