.footer{
    background-image: url("../img/footer/footer_bckg.svg");
    background-position:bottom;
}

.footer__link{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #000000;
    font-weight: 400;
    display: block;

    &--organizer{
        border-right: 1px solid;
        padding-right: 7px;

    }
    &--contacts{
        padding-left: 7px;

    }
    &:hover a {
       
        border-bottom: 1px solid black;
    }
}

.footer__wrapper{
  width: 300px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.mobile-hidden{
    display: none;
}

@media(min-width:1020px){
    .footer{
        border-top: 2px solid white;
        padding-bottom: 20px;
    }
    .mobile-hidden{
        display: contents;
    }
    .footer__wrapper{
        width: auto;
        justify-content: space-between;
        align-items: center;
    }

    .footer__copyright{
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        color: #000000;
        font-weight: 400;

        &::selection{
            background-color: rgb(166, 172, 173);
        }
    }
    .footer__content{
        display: flex;
        align-items: center;
    }
    .footer__socials{
        min-width: 345px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 50px;
    }
    .footer__socials-text{
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        color: #000000;
        font-weight: 400;
    }

    .footer__socials-link{
        width: 30px;
        height: 30px;
        background-position: center;
        background-size: cover;
       display: block;
        &--ig{      
        background-image: url("../img/footer/desktop/Insta.svg");        
        }

        &--tg{
            background-image: url("../img/footer/desktop/Tg.svg");
        }
        &--youtube{
            background-image: url("../img/footer/desktop/youtube.svg");
        }
        &--fb{
            background-image: url("../img/footer/desktop/Fb.svg");
        }
        &--vk{
            background-image: url("../img/footer/desktop/vk.png");
            border-radius: 50%;
            width: 32px;
            height: 32px;
        }

    }
      

        .footer__link--organizer{
            padding-left: 7px;
             border-left: 1px solid black;
            }
        
}