
.header{
    position: sticky;
    top: 0;
    background-color: transparent;
    border-bottom: 1px solid rgba(255,255,255, 0.3);
    width: 100%;
    z-index: 7;
}


.header__menu{
    display: flex;
    justify-content:space-between;
    align-items: center;
    


}

.header__addition--text{
    display: none;
}
.header__list{
    display: flex;
    align-items: center;
    z-index: 5;
}

.header__item{
    display: none;
    font-family: 'Open Sans', sans-serif;
    &--home{
        background-image: url("../img/header/Home.png");
        width: 30px;
        height: 30px;
    }
}
.header__item a{
    text-decoration: none;

}
.header__item--socials{
display: flex;
}
.header__item-link--home{
    display: block;
    width: 30px;
    height: 30px;

}
.site-socials__item{
    text-decoration: none;
   display: inline-block;
    width: 27px;
    height: 27px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 50%;
    &--WA{
    background-image: url("../img/header/WA.png");
    background-size: cover;
    width: 27px;
    height: 27px;
   
    }
    &--IG{
    background-image: url("../img/header/Insta.png");
    background-size: cover;
    width: 27px;
    height: 27px;

    }
    &--lang{
        background-image: url("../img/header/Lang.png");
        background-color: transparent;
        border: none;
        width: 27px;
        height: 27px;
        background-size: cover;
    }
}

.header__popup-btn{
   background-color: transparent; 
   width: 30px;
   height: 22px;
   border: none;
    cursor: pointer;
   background-image: url("../img/header/header_popup.png");
}
.hidden-popup{
    display: none;
}


//стили для десктопа
@media(min-width:916px){

.header{
z-index: 5;
}

.header__menu{
   // margin-top: 17px;
    margin-bottom: 17px;
    padding-bottom: 17px;
    padding-top: 17px;
}

.header__list{
    display: flex;
    justify-content: space-between;
}
.header__item{
    display: block;
    cursor: pointer;
    max-width: none;


    & a{
    text-transform:uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #EDEBF6;
    text-transform: uppercase;
   margin-left: 20px;

    }
    & .site-socials__item{
        margin-left: 5px;
    }

    &--home{
        background-size: cover
    }
    &:hover a{
        font-weight: 400;
        border-bottom: 2px #FF8641 solid; 
        padding-bottom: 0px;
    }
    &:hover .site-socials__item{
        border-bottom: none;
    }
    &:hover .header__item-link--home{
        border-bottom: none;
    }

    
}
.header__item--socials{

    margin-left: 50px;
    }
.header__popup-btn{
    display: none;
}
.header__addition{
    display:flex;
}

.header__addition-text{
 display: block;
 position: absolute;
 font-family: 'Open Sans', sans-serif;
color: #edebf6;
text-transform: uppercase;  
left: 18%; 
}
}

@media(max-width:1266px){
    .header__addition-text{
        display: none;
    }
}
@media(max-width:1108px){
    .header__item--socials{

        margin-left: 0;
        }
}

