
.experience{
    background-color: #ffffff;
    background-image: linear-gradient(#ffffff 60%, rgba(210,220,250,0.75));
    
}


.experience__list{
    background-image: url("../img/home/experiance/vert_decor_line.svg");
    background-repeat: no-repeat;
    background-position: 12px;
    background-size: contain;
}
.experience__item {
    margin-top: 20px;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    &:last-of-type{
        padding-bottom: 20px;
    }
    & p{
        max-width: 90%;
        margin-left: 10px;

    }
}
.experience__photo{
   img{
    margin: 0 auto;
    width: 100%;
   }
   
}

@media(min-width:1020px){
    .experience{
        overflow: hidden;
        position: relative;

        &::after{
            content: "";
            background-image: url("../img/home/experiance/desktop/experience-decor-flower.svg");
            width: 300px;
            height: 300px;
            position: absolute;
            top: 449px;
            left: -14px;
            overflow: hidden;  
        }
    }

    .experience-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 38px;

    }
    .experience__author-name{
        grid-column-start: 1;
        font-size: 30px;
    }
    .experience__author-position{
        grid-column-start: 1;
        font-size: 24px;
    }
    .experience__list{
        grid-column-start: 1;
        background-image: url("../img/home/experiance/desktop/experiance-deco-line.svg");
        background-size: auto 504px;
        background-position-y: 31px;
        background-position-x: 10px;
        min-height: 540px;

    }

    .experience__photo{
       width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        grid-row-start: 1;
        grid-column-start: 2;
        grid-row-end: 4;

        & img{
            min-height: 600px;
        }
    }
}