.home-reviews{
    padding-bottom: 30px;
}

.home-reviews__title{
    font-size: 22px;
}

.home-reviews__list{
    width: 263px;
    margin: 0 auto;

& p{
padding-left: 45px;
//width: 235px;
}
}


.home-reviews__reviewer-photo{
    margin: 20px auto;
    width: 85%;
    display: block;
}

.home-reviews__reviewer-name{
    color: #6B6BC5;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.home-reviews__course-name{
    color: #7A7A7D;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
   // position: relative;

    &::before{
        content: url("../img/home/home_review/commas.svg");
        position: absolute;
        left: 7px;
    }
}

.home-reviews__review-text{
    color: #7A7A7D;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    position: relative;
    max-height: 160px;
    overflow: auto;
    //scrollbar-width: 0;
    
   &::-webkit-scrollbar {
    width: 0;
    height: 0;
    } 
    
}

.home-reviews__more-btn{
    color: #464548;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    position: absolute;
    transform: translateY(-85%);
    left: 50%;
    transform: translateX(-50%);
    padding-top: 17px;

}

@media(min-width:1300px){
    .home-reviews__title{
        margin-top: 50px;
        font-size: 40px;
    }

    .home-reviews__list{
        width: 1020px;
        display: flex;
    
    height: auto;
    margin-top: 54px;
    justify-content: space-between;  
         
        & p{
            padding-left: 0;
            max-width: 230px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .home-reviews__item{
        position: relative;
        max-width: 263px;
        min-height: 527px;
        max-height: 527px;
       // border-radius: 25px;
    }

    .home-reviews__item-inner{
        position: absolute;
        min-height: 427px;
        max-height: 427px;
        border: 1px solid black;
        width: 100%;
    }
    .home-reviews__reviewer-photo{
       // position: absolute;
    top: -104px;
    left: 46px;
    border: 1px solid #FFCE79;
    border-radius: 50%;
    width: 200px;
    background-color: white;
    }
 .home-reviews__reviewer-name{
    text-align: center;
   // margin-top: 120px;

 }
 .home-reviews__course-name{
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 10px;

    &::before{
        display: none;
        content: "";
    }
 }

 .home-reviews__review-text{
    text-align: center;
    overflow: auto;
    //scrollbar-width: 0;
    
   &::-webkit-scrollbar {
    width: 0;
    height: 0;
    } 
 }

 .home-reviews__reviewer-socials{
    display: flex;
   justify-content: center;
   margin-bottom: 50px;
   position: relative;
   &::after{
    content: "";
    background-image: url("../img/home/home_review/desktop/reviews-item-deco.svg");
    position: absolute;
    width: 230px;
    height: 25px;
    top: 29px;
   }
    &--IG{
        width: 25px;
        height: 25px;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../img/home/home_review/desktop/Insta.svg");
    }
    &--VK{
        width: 25px;
        height: 25px;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../img/home/home_review/desktop/vk.png");

     }
     &--TG{
        width: 25px;
        height: 25px;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../img/home/home_review/desktop/telegram.svg");
        margin-right: 5px;
        margin-left: 5px;
     }
 }

 .home-reviews__item{
    // box-shadow: inset 0 -7px 20px -10px rgba(0, 0, 0, .5);
    &::after{
        content: url("../img/home/home_review/desktop/review-arrow.svg");
        background-color: hsla(0deg,0%,100%,.7);
        position: relative;
        bottom: 27px;
        width: 263px;
        display: flex;
        justify-content: center;
       
    }
    &:hover{
        background-image: linear-gradient(#7070C9, #9797D3);
        &::after{
            content: "";

        }
    }
    &:hover .hover-color{
        color: white;

    }
    &:hover .home-reviews__review-text{
       position: relative;
        bottom: -353px;
        max-height: 400px;
        transform: translateY(-510px);
        transition:  30s;

    }
    &:hover .home-reviews__reviewer-photo{
        display: none;
    }
    &:hover .home-reviews__reviewer-socials {
        display: none;
    }
    &:hover  .home-reviews__course-name {
        display: none;
    }
    &:hover .home-reviews__reviewer-name{
        display: none;
    }
 }
}


