.home-about{
    position: relative;
    z-index: 1;
    padding-bottom: 30px;
    border-bottom: 1px solid #A6ACAD;
    .wrapper{
        &::before{
            content: url("../img/home/deco_flower.svg");
            position: absolute;
            overflow-y: hidden;
            overflow-x: hidden;
            right: 0;
            top: -138px;
            z-index: 0;
        
        }
    }
}


.home-about__photo-gallery{
    margin-left: auto;
    margin-right: auto;
   flex-wrap: wrap;
    margin-top: 20px;

}



