
.experience{
    background-color: #ffffff;
    background-image: linear-gradient(#ffffff 60%, rgba(210,220,250,0.75));
    position: relative;
    &::after{
        content: "";
        background-image: url("../img/home/intro-desktop/Decor-desktop.svg");
        background-repeat: repeat-x;
        background-size: cover;
        background-position: center;
        position: absolute;
        height: 30px;
        width: 1500px;
        left: 0;
        top:-32px
    }
}


.experience__list{
    background-image: url("../img/home/experiance/vert_decor_line.svg");
    background-repeat: no-repeat;
    background-position: 12px;
    background-size: contain;
}
.experience__item {
    margin-top: 20px;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    &:last-of-type{
        padding-bottom: 20px;
    }
    & p{
        max-width: 90%;
        margin-left: 10px;

    }
}
.experience__photo{
    display: block;
    margin: 0 auto;
    width: 100%;
}
