
.home-courses{
//position: relative;
//overflow-x: hidden;
overflow-y: hidden;
background-image: url("../img/home/home_courses/courses_bckg.svg"),
linear-gradient(rgba(210, 220, 250, 0.75), #ffffff);
background-repeat: no-repeat;
background-size: cover;
//padding-bottom: 45px;
z-index: 3;
}

.home-courses__wrapper{
    padding-top: 35px;
    position:relative;
    z-index: 3;
}


.home-courses__paragraph{
    margin-top: 20px;
    &::selection{
        background-color: rgb(166, 172, 173);
    }
}

.home-courses__more-btn{
    display: none;
}
.home-courses__list{
   // height: 500px;
    width: 100%;
     padding-bottom: 20px;
}

.home-courses__item{
   min-width:100% ;
  

}

.home-courses__item-content{
    border-radius: 150px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 263px;
    min-height: 420px;
}
.home-courses__item-img{
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
}
.home-courses__item-name{
    font-size: 25px;
    line-height: 29.05px;
    letter-spacing: -1px;
    margin-top: 20px;
    text-align: center;
}
.home-courses__item-description{
    max-width:209px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

}

.home-courses__item--more-btn{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Open Sans', sans-serif;
    border-radius: 20px;
    background-color: #FFCB73;
    width: 137px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after{
        content: url("../img/home/home_courses/arrow.svg");
    }
}


.home-courses__menu{
    display: none;
}

.home-courses__info-text{
    max-width: none;
}

@media(min-width:1020px) {
    .home-courses{
        background-size: contain;
        background-repeat: repeat-x;
        background-image: url("../img/home/home_courses/courses_bckg.svg"),
        linear-gradient(rgba(210,220,250,.75), #ffffff);
     //   padding-bottom: 52px;

    }
    .home-courses__wrapper{
        display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 0;
    margin-top: 60px;
    margin-bottom: 65px;
    padding-top: 0;
    }
    .home-courses__list{
         margin: 0px auto;
    }
    .home-courses__title{
        font-size: 35px;
        margin-top: 0;
        line-height: 40px;
    }
    .home-courses__subtitle{
        font-size: 30px;
    }
   
    .home-courses__paragraph{
        max-width: 280px;
    }


    
    .home-courses__wrapper{
        padding-left: 8.08%;
        padding-right: 8.08%;
    }
   
    .home-courses__slider-btns{
    grid-column-start: 2;
    max-width: 300px;
    margin: 0 auto;
    }

    .home-courses__more-btn{
        display: block;
        text-transform: uppercase;
        color: #000000;
        font-size: 15px;
        border: 1px #000000 solid;
        border-radius: 25px;
        font-family: 'Open Sans', sans-serif;
        background-color: transparent;
        margin-top: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 30px;
        width: 199px;

        &::after{
            content: url("../img/home/home_courses/desktop/btn-arrow.svg");
            position: relative;
            left: 10px;
        }
    }

    .home-courses__info-text{
        max-width: 249px;
    }
}





@media(min-width: 1020px) and (max-width: 1299px){

    .home-courses__list{
        width: 526px;
    }
  }
  
  @media(min-width:1300px){
    .home-courses__list{
        //display: flex;
        width: 800px;
    }

  }