.home-page__intro{
background-image:url("../img/home/intro.svg") ;  
min-height: 360px;
background-repeat: no-repeat;
background-position: center;
background-size:cover;
overflow-x: hidden;
overflow-y: hidden;
box-shadow: inset 0 101px 28px -20px rgb(106 50 9 / 30%);
&::after{
    content: url("../img//home/Decor.png");
  width: 250px;
  position: relative;
  bottom: -251px;
  overflow-x: hidden;
  overflow-y: hidden;
   left:-70%

}
}
.home-page__intro-text{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #EDEBF6;
    font-size: 15px;
    text-align: center;
    font-weight: 100;
    position: relative;
    top: 285px;
    margin: 0 auto;

}

