.home-courses__slider-switch{
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 206px;
    justify-content: space-between;
    align-items: center;
}

.home-courses__item-btn{
    width: 34px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &--prev{
        background-image: url("../img/home/home_courses/slider_prev_btn.svg");
        background-position:center;
        background-repeat: no-repeat;
    }
    &--next{
        background-image: url("../img/home/home_courses/slider_next_btn.svg");
        background-position:center;
        background-repeat: no-repeat;
    }
}


.home-courses__item-controller{


    &--active{
        width: 23px;
        height: 23px;
        border-radius: 50%;
        background-image:url("../img/home/home_courses/controller_checked.svg") ;
        background-size: 15px 15px;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.home-courses__slider{
  width: 263px;
   overflow: hidden;
    margin: 0 auto;
}

/*
.home-courses__slider-line{
    min-width: 1315px;
    position: relative;
    left: 0;
    transition: all 1s;
}
*/