.home-timetable{
    padding-top: 30px;
    background-image: url("../img/home/home_timetable/timetable_bckg.svg");
    background-size: cover;
   background-position-y:top ;
}

.home-about__subtitle{
    color: #232323;
}

.home-timetable__text{
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    color: #232323;
    font-weight: 100;
    width: 72%;

}



.home-timetable__classes{
    margin: 0 auto;

    border: 2px solid transparent;
  border-radius: 56px;
  background: 
    url("../img/home/home_courses/courses_bckg.svg"), 
    linear-gradient(to right, #6B6BC5 , #FF77F1,#CF7C00); 
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-position: center;
  /* Other styles */
  max-width: 313px;
  min-height: 98px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.home-timetable__classes-enroll-btn{
    position: relative;
    top: -17px;
    left: 49%; 
    border: 1px solid #6B6BC5; 
    border-radius: 56px;
    background-image: 
    linear-gradient(to right, #B4B3FF , #FF77F1);  
    color: #000000;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
   text-transform: uppercase;
   font-weight: 300;
   padding-left: 12px;
   padding-right: 12px;
   padding-top: 5px;
   padding-bottom: 5px;
}

.home-timetable__classes-name{
    color: #6B6BC5;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300;




}

.home-timetable__classes-time{
    color: #000000;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
   text-transform: uppercase;
   font-weight: 300;
}

.home-timetable__more-btn{
    display: flex;
    align-items: center;
    justify-content: center;
  //  max-width: 313px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;


}

.home-timetable__lector-photo{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    z-index: 2;
& img{
    display: block;
    margin: 0 auto;
}
}

@media(min-width:1020px){

.home-timetable__wrapper{
    padding-top: 90px;
    display: grid;
    justify-items: start;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}
.home-timetable__lector-photo{
    grid-column-start: 1;
    grid-row-start: 1;
    width: 375px;
    display: flex;
    position: relative;
    & img{
        width: 100%;
    }
    &::after{
        content: "";
        background-image: url("../img/home/home_timetable/desktop/timetable-deco-line.svg");
        width: 7px;
        height: 390px;
        position: absolute;
        left: 364px;
        

    }

}
.home-timetable__classes-list{
    grid-column-start: 3;
    grid-row-start: 1;
    width: 400px;

  
}
.home-timetable__title{
    grid-column-start: 2;
    grid-row-start: 1;
    padding-left: 20px;
  
}
.home-timetable__subtitle{
    grid-column-start: 2;
    grid-row-start: 1;
    padding-top: 40px;
    padding-left: 20px;
}
.home-timetable__text{
    grid-column-start: 2;
    grid-row-start: 1;
    padding-top: 100px;
    padding-left: 20px;
    position: relative;
    &::after{
        content: "";
        background-image: url("../img/home/home_timetable/desktop/timetable-deco-desktop.svg");
        width: 278px;
    height: 270px;
    position: absolute;
    left: 28px;
    margin-top: 50px;
    }
}
.home-timetable__more-btn{
    grid-column-start: 3;
    display: flex;
    margin-left: 100px;
}



.home-timetable__classes{
    min-height: 70px;
    height: 70px;
}
}

@media(min-width:1075px){
    .home-timetable__classes-list{
        max-width: 400px;
    }
    
    .home-timetable__classes{
        max-width: 400px;

    }
}