
.programm-course{
    overflow: hidden;
    position: relative;
    &::before{
        content: "";
        background-image: url("../img/about/about-deco.png");
        position: absolute;
        width: 100%;
        height: 20px;
        background-repeat: repeat-x;
        left: 5px;
        background-size: cover;
    }
}

.programm-course__wrapper{
    padding-top: 73px;   
    padding-bottom: 0;
    
}
.programm-course__container{
    padding-top: 0;
    margin-top: 40px;
    padding-bottom: 0;

}


.programm-course__description{
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;

}

.programm-course__description-part{
max-width: 676px;
}

.programm-section__title{
    &--bio{
        margin-bottom: 20px;
    }
    &--intro{
        margin-bottom: 30px;
    }
    
}
.programm-course__description-text{
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: black;
    font-weight: 300;
}

.programm-course__next{
 background-image: url("../img/bioenergy/bioenergy_programm/bioenergy_button_next.svg");
width: 324px;
height: 80px;
background-repeat: no-repeat;
background-size: contain;
background-position: center;
border: none;
background-color: transparent;
color: #FFFFFF;
font-size:15px;
font-family: "Open Sans",sans-serif;
cursor: pointer;
text-transform: uppercase;
}

.programm-course__request-text{
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #464548;
    font-weight: 300;
    max-width: 280px;
    padding-top: 54px;
    text-align: center;
}

.programm-course__request{
    display: flex;
    flex-direction: column;
    align-items: center;
}




.programm-course__request-btn{
    color: black;
    font-size: 15px;
    font-family: "Open Sans",sans-serif;
    text-transform: uppercase;
    border: none;
    background-color: #ffcb73;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 17px;
    padding-right: 17px;
    margin-top: 10px;
    cursor: pointer;
}

.programm-course__intro-content{
    border: 1px solid #ffcb73;
    max-width: 1014px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-left: auto;
    margin-bottom: 30px;
    margin-top: 40px;
    &--main{
        flex-direction: column;
        justify-content: end;
        align-items: normal;
      
    }
}

.programm-course__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:35px;
    margin-top: 50px;
    margin-left: 160px;
    margin-bottom: 30px;
    max-width: 814px;
    //position: relative;
 
    &--intro::before{
        content: "";
        background-image: url("../img/bioenergy/bioenergy_programm/vvodnoe-img.svg");
        position: absolute;
        width: 200px;
        height: 200px;
        left: -99px;
        top: 15%;
    }
    &--chakri{
        margin-bottom: 0;
    }
    &--chakri::before{
        content: "";
        background-image: url("../img/bioenergy/bioenergy_programm/chakri-img.svg");
        position: absolute;
        width: 200px;
        height: 200px;
        left: -99px;
        
    }
    &--water{
        margin-bottom: 0;
    }
    &--water::before{
        content: "";
        background-image: url("../img/bioenergy/bioenergy_programm/zarad_vodi-img.svg");
        position: absolute;
        width: 200px;
        height: 200px;
        left: -99px;
        
    }
  
    &--elements::before{
        content: "";
        background-image: url("../img/bioenergy/bioenergy_programm/elements-img.svg");
        position: absolute;
        width: 200px;
        height: 200px;
        left: -99px;
        
    }
 
    &--sensoric::before{
        content: "";
        background-image: url("../img/bioenergy/bioenergy_programm/sensoric-img.svg");
        position: absolute;
        width: 200px;
        height: 200px;
        left: -99px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.programm-course__intro-item{
    max-width: 262px;
}
.programm-course__intro-item-title{
    font-size: 15px;
    font-family: "Open Sans",sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color: #6B6BC5;
    line-height: 22px;
    position: relative;
    margin-bottom: 30px;

    &--1::before{
        content: "1.";
        font-size: 15px;
        font-family: "Open Sans",sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        color: #6B6BC5;
        line-height: 22px;
        position: absolute;
        left: -16px;
    }
    &--2::before{
        content: "2.";
        font-size: 15px;
        font-family: "Open Sans",sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        color: #6B6BC5;
        line-height: 22px;
        position: absolute;
        left: -16px;
    }
    &--3::before{
        content: "3.";
        font-size: 15px;
        font-family: "Open Sans",sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        color: #6B6BC5;
        line-height: 22px;
        position: absolute;
        left: -16px;
    }
    &--4::before{
        content: "4.";
        font-size: 15px;
        font-family: "Open Sans",sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        color: #6B6BC5;
        line-height: 22px;
        position: absolute;
        left: -16px;
    }
    &--5::before{
        content: "5.";
        font-size: 15px;
        font-family: "Open Sans",sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        color: #6B6BC5;
        line-height: 22px;
        position: absolute;
        left: -16px;
    }
    &--6::before{
        content: "6.";
        font-size: 15px;
        font-family: "Open Sans",sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        color: #6B6BC5;
        line-height: 22px;
        position: absolute;
        left: -16px;
    }
    &--7::before{
        content: "7.";
        font-size: 15px;
        font-family: "Open Sans",sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        color: #6B6BC5;
        line-height: 22px;
        position: absolute;
        left: -16px;
    }
    &--8::before{
        content: "8.";
        font-size: 15px;
        font-family: "Open Sans",sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        color: #6B6BC5;
        line-height: 22px;
        position: absolute;
        left: -16px;
    }
    &--9::before{
        content: "9.";
        font-size: 15px;
        font-family: "Open Sans",sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        color: #6B6BC5;
        line-height: 22px;
        position: absolute;
        left: -16px;
    }
}

.programm-course__intro-item-text{
    color: black;
    font-size: 15px;
    font-family: "Open Sans",sans-serif;
    font-weight: 100s;
    line-height: 22px;
}

.programm-course__purchase{
    max-width: 1014px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.programm-course__purchase-text{
    font-size: 15px;
    font-family: "Open Sans",sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    line-height: 22px;
    &--blue{
    color: #6B6BC5;
    }
}
.programm-course__purchase-btn{
    color: black;
    font-size: 15px;
    font-family: "Open Sans",sans-serif;
    text-transform: uppercase;
    border: none;
    background-color: #ffcb73;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 17px;
    padding-right: 17px;
    cursor: pointer;
}

.programm-course__border-deco{
    border-bottom: 1px solid #A6ACAD;
    margin-top: 35px;

}

.programm-course__addition{
    max-width: 1014px;
    margin-left: auto;
}
.programm-course__addition-homework{
   color: #464548;
   font-size: 15px;
    font-family: "Open Sans",sans-serif;
    font-weight: 100;

    &--black{
        font-weight: 600;
    }
}

@media (min-width:0px) and (max-width:767px){
    .programm-course__wrapper{
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 40px;
    }
    .programm-course__description{
        flex-direction: column;
    }
    .programm-course__next{
        display: none;
    }
    .programm-course__request-text{
        padding-top: 20px;
    }
    .programm-section__title{

        &--intro{
           // margin-bottom: 130px;
        }
    }
    .programm-course__container{

        padding-bottom: 0;
    
    }
    .programm-course__list{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-bottom: 0px;
        margin-top: 0;

        &--intro{
           margin-top: 50px;
        }
        &--intro::before{
            content: "";
            display: none;
        }
        &--chakri{
         margin-top: 50px;       
        }

        &--chakri::before{
            content: "";
            display: none;           
        }
     
        
        &--water::before{
            content: "";
            display: none;
            
        }
      
        &--elements::before{
            content: "";
            display: none;
            
        }
        
        &--sensoric{
            margin-top: 50px;
         }
        &--sensoric::before{
            content: "";
            display: none;
        }


    }
    .programm-course__intro-content{
        border: none;
        padding-top: 154px;
        margin-bottom: 0;
        background-position: top;
        background-size: 200px 200px;
        background-repeat: no-repeat;
        margin-top: 30px;
        &--initiatory{     
            background-image: url("../img/bioenergy/bioenergy_programm/vvodnoe-img.svg");
        }      
        &--main{
            background-image: url("../img/bioenergy/bioenergy_programm/chakri-img.svg");
        }
        &--sensoric{
            background-image: url("../img/bioenergy/bioenergy_programm/chakri-img.svg");
        }
    }
    .programm-course__intro-item{
        max-width: none;
      & br{
        display: none;
      }
    }
    .programm-course__intro-item-title{
        padding-left: 20px;
        margin-top: 20px;
        margin-bottom: 0px;
        & br{
            display: none;
        }
        &--1::before{
            left: 5px;
        }
        &--2::before{
            left: 5px;
        }
        &--3::before{
            left: 5px;
        }
        &--4::before{
            left: 5px;
        }
        &--5::before{
            left: 5px;
        }
        &--6::before{
            left: 5px;
        }
        &--7::before{
            left: 5px;
        }
        &--8::before{
            left: 5px;
        }
        &--9::before{
          
            left: 5px;
        }
    }

    .programm-course__intro-item-text{
        padding-left: 20px;
    }
    .programm-course__purchase{
        flex-direction: column;
        margin-top: 35px;
    }
    .programm-course__purchase-btn{
        margin-top: 10px;
    }
    .programm-course__purchase-text{
        text-align: center;
    }
    .programm-course__purchase-info{
    display: flex;
     flex-direction: column;
    align-items: center;
    }
    .programm-course__addition{
     display: none;
    }
}
@media (min-width:768px) and (max-width:1019px){
    .programm-course__wrapper{
        padding-top: 0;
        margin-top: 50px;
        }
}