
.programm-content{
    background-image: linear-gradient(#fff 60%,rgba(210,220,250,.75));
    position: relative;
    z-index: 2;
 &--look{
    overflow: hidden;
 }
   


}

.programm-content__wrapper{
    display: flex;
    flex-direction: row;
    padding-top: 47px;
    padding-bottom: 50px;
    padding-left: 8.08%;
    padding-right: 8.08%;
    //overflow: hidden;
}

.programm-content__img{
    margin-right: 50px;
    display: flex;
    align-items: center;
    position: relative;
 
    & img {
        display: block;
    }

    &::after{
        content: "";
        background-image: url("../img/home/home_timetable/desktop/timetable-deco-line.svg");
        width: 7px;
        height: 390px;
        position: absolute;
        top: 89px;
        right: -29px;
    }
}

.programm-content__specification{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.programm-content__specification-text-block{
   display: flex;

}

.programm-content__paragraph-third-col{
    margin-left: 35px;
}

.programm-content__paragraph{
    max-width: 362px;
    color: #000;
    font-size: 16px;
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
    line-height: 20.43px;
    margin-top: 30px;
    &::selection{
        background-color: #FFCE79;
    }
}

@media (min-width:0px) and (max-width:768px){
    .programm-content__wrapper{
    
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 17px;
    padding-bottom: 17px;
    margin-top: 10px;
    flex-direction: column;
    }

    .programm-content__paragraph{
        max-width: none;

    &:first-of-type{
        margin-top: 10px;
    }
    }
 
    .programm-content__paragraph-third-col{
        margin-left: 0px;
    }

    .programm-content__specification-text-block{

        flex-direction: column;
     }

     .programm-content__img{
        display: none;
     }
}

@media (min-width: 769px) and (max-width: 1019px){
    .programm-content__wrapper{
    
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 17px;
        padding-bottom: 17px;
        margin-top: 10px;
        }

.programm-content__img {
    display: block;
    max-width: 222px;

    & img{
        width: 100%;
    }
}
}