

.programm-intro{
      
    min-height: 360px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size:cover;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: inset 0 101px 28px -20px rgb(106 50 9 / 30%);

    &--bio{
        background-image:url("../img/bioenergy/bio_bckg.png") 
    }
    &--look{
        border-image: none;
        background-color: #6B6BC5;

    }
    &::after{
    content: url("../img//home/Decor.png");
      width: 250px;
      position: relative;
      bottom: -216px;
      overflow-x: hidden;
      overflow-y: hidden;
       left:-70%
    
    }
    }
    .programm-intro__text{
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        color: #EDEBF6;
        font-size: 15px;
        text-align: center;
        font-weight: 100;
        position: relative;
        top: 285px;
        margin: 0 auto;
    
    }
    .programm-intro__item{
        display: none;
    }

    @media(min-width:1020px){
        .programm-intro {

            height: 400px;
            background-image: none;

            &::before{
                content: "";
                background-image: url("../img/home/intro-desktop/Decor-desktop.svg");
                background-repeat: repeat-x;
                background-size: cover;
                background-position: center;
                position: absolute;
                height: 30px;
                width: 100%;
                left: 0;
                top: 372px;
                overflow: hidden;
                z-index: 1;
            }
            &::after{
                content: "";
            }
            }
        .programm-section__wrapper{
            padding: 0;
        }
        .programm-intro__text{
            display: none;
        }
        .programm-intro__item{
            display: block;
          padding-top: 147px;
            padding-bottom: 10px;
            width: 100%;
            background-size: cover;
            height: 400px;
            box-sizing: border-box;
            background-color: #6B6BC5;
            background-position: center;
          
            &--bio{
            background-image: url("../img/bioenergy/bio_bckg.png");

            }
        }
        .programm-section__courses-name{
            font-family: 'Open Sans', sans-serif;
            color: #ffffff;
            font-weight: 100;
            font-size: 30px;
            text-transform: uppercase;
    
            &--big{
             text-transform: uppercase;
             font-size: 60px;   
             font-weight: 200;
             
             text-shadow: #ffffff 1px 0 2px;
            }
            &--ff{
            font-family: 'Montserrat Alternates', sans-serif;
             position: relative;
             left: -6px;
            }
        }
        .programm-section__courses-info{
            font-family: 'Open Sans', sans-serif;
            color: #ffffff;
            line-height: 22px;
            margin-top: 20px;
           
            width: 327px;
            &--big{
                text-transform: uppercase;
            }
        }
    }
    
    